<!DOCTYPE html>
<html lang="ru" class="html-main">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"  type='text/css'  media='all'>
    <link rel="stylesheet" href="css/main.css" type='text/css'  media='all'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body class="body-main">

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header hidden-sm hidden-md hidden-lg pull-left">
                            <a class="navbar-brand" href="index.html">Поставщики Новосибирска</a>
                        </div>
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu" id="button_navbar_toggle">
                                <span class="sr-only">Открыть навигацию</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="responsive-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="region">Регион: {{ regions.selected_region }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for region in regions.list_region %}
                                            <li><a href="{{ region.url }}">{{ region.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if user %}
                                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user }}</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
                                {% else %}
                                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </main>

    <footer class="footer-main">
        <div class="container-fluid">
            <div class="row footer-main-row">
                 <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
                 <div class="col-sm-12 col-md-10 col-lg-8">
                    <div class="row">
                        {% block footer %}{% endblock %}
                        <div class="col-sm-12 col-md-12 copyright">
                            <p class="text-right">&copy; kupimsami.ru</p>
                        </div>
                    </div>
                 </div>
                 <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
            </div>
        </div>
    </footer>

    <script id="template-notify" type="text/x-template">
        <div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">
            <button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>
            <span data-notify="icon"></span>
            <span data-notify="title">{1}</span>
            <span data-notify="message">{2}</span>
            <div class="text-center">
                <a class="btn btn-info btn-sm" data-notify="dismiss">ДА</a>
                <a class="btn btn-info btn-sm" data-notify="dismiss" id="button_error_region">НЕТ</a>
            </div>
            <div class="progress" data-notify="progressbar">
                <div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
            </div>
            <a href="{3}" target="{4}" data-notify="url"></a>
        </div>
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/bootstrap-notify.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
